@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
body{
    background-color: lightyellow;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}
h1{
    background-color:#659DBD;
}
body{
    display: grid;
    background-color:#659DBD;
}
li button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    cursor: pointer;
    border: 0;  
}
nav button span{
    background-color: #0088a9;
}

header {
    color:#edf0f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 12%;
    background-color:#659DBD;
}
ul.links{
    background-color:#659DBD;
}
.links li{
    display: inline-block;
    padding: 0 20px;   
    background-color:#659DBD;
}
nav button {
    background-color:#0088a9;
    padding: 10px 20px;
    border-radius: 6px;
    
}
.links li button{
    transition: all 0.3s ease 0s;    
}

.links li button:hover{
    color:#0088a9;
}
h3{
    margin: 25px 0;
    color:rgb(127, 137, 202);
    font-size: 25px;
    font-weight:900;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    margin:10px 0;
  background-color:#659DBD;
}

.content{
    width:25%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    transition: .4s;
    position: relative;
   
    z-index: 10;
}
.content:hover{
    /* box-shadow:0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23); */
    transform:translate(0px, -8px);
}
img{
    width:310px;
    height: 200px;
    margin:0 auto;
    display:block;
    object-fit: fill;
}
p{
    text-align: center;
    color:#e29ac6;
    font-size: 20px;
    font-weight: 200; 
}
h6{
    
    font-size: 26px;
    text-align:center;
    /* color:#c4a9ff; */
    color: white;
    margin:10px 10px;
}

.btn{
    border-radius: 30px;
    border:0;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    /* margin: 1rem 0; */
    padding: 1rem 1rem;
    text-transform: uppercase;
    white-space: nowrap;
}
.btn--primary{
    background: #E7717D;
    color:#C2B9B0;
   margin-top: 5px;
   margin-bottom: 30px;
   margin-right: 15px;
   
}
.btn--secondary{
    background-color: #C2CAD0;
    color: #7E685A;
}